<% layout("./layouts/boilerplate") %>
    <div>
        <h1>Welcome to Ride with us</h1>
       


        <div class="box">
            <div>
                <h2>Lets start our journey...</h2>
                <a class="btn btn-primary" href="/rider/login">Login</a>
                <a class="btn btn-primary" href="/rider/register">Register</a>

            </div>
            <div>
                <h2>Driver ??</h2>
                <a class="btn btn-primary" href="/driver/login">Login</a>
                <a class="btn btn-primary" href="/driver/register">Register</a>

            </div>

        </div>

        <p>
            Cab or Taxi Booking - Free App

            All Cab Booking At single Place,i.e.Cab Booking In India.

            Sit back, relax, and go anywhere you want.
        </p>







    </div>