<% layout("./layouts/boilerplate") %>
    <h1>Welcome to Ride with us</h1>
    <h2>Want to earn money as a driver ??</h2>
    <a class="btn btn-primary" href="/driver/login">Login</a>
    <a class="btn btn-primary" href="/driver/register">Register</a>
    <h2>Want to take a ride to you destination...?</h2>
    <a class="btn btn-primary" href="/rider/login">Login</a>
    <a class="btn btn-primary" href="/rider/register">Register</a>

    
